body{
    font-family: cursive,Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#resume-container{
    display: flex;
}

.left-section{
    background-color: rgb(7, 7, 98);
    color: white;
    margin-left: 5%;
    width: 25%;
}

.pfp{
    width: 150px;
    height: 150px;
    margin: 5% 0 0 23%;
    border-radius: 50%;
    border: 5px solid white;
    background-size: cover;
}

h2{
    font-size: 35px;
    text-align: center;
}

p{
    font-size: 20px;
    color: white;
    margin-left: 5%;
}

a{
    color: white;
}

li{
    font-size: 20px;
    margin-left: 3%;
}

#cont{
    color: white;
    background-color: rgb(2, 2, 31);
    width: 80%;
    line-height: 100%;
    text-align: left;
    padding-left: 5%;
    font-size: 30px;
    font-family: cursive,Arial, Helvetica, sans-serif;
}

#cont:hover{
    background-color: rgb(14, 14, 125);
    box-shadow: 1px 1px 1px 1px whitesmoke;
}

.css{
    border: 1px solid rgb(7, 7, 98);
    color: rgb(7, 7, 98);
    font-size: 30px;
    font-family: cursive,Arial, Helvetica, sans-serif;
    display: block;
    padding-left: 5px;
    margin-left: 5%;
    margin-top: 3%;
    width: 100%;
    text-align: left;
}

.css:hover{
    background-color: rgb(7, 7, 98);
    color: whitesmoke;
}